.projects {
  max-width: var(--width-content);

  .projects__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8vw;
    width: 100%;
  }
}
