---
import Hero from '../components/Hero';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
	</main>
</Layout>

<style>
	main {
		color: var(--color-font);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
