@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #509573;

  scroll-behavior: smooth;
  letter-spacing: 15%;

  --golden-ratio-a: 61.8vw;
  --golden-ratio-b: 38.2vw;
  --half-goldenratio-a: 30.9vw;
  --half-goldenratio-b: 19.1vw;
  --quarter-goldenratio-a: 15.45vw;
  --quarter-goldenratio-b: 9.55vw;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050f0a;
    --foreground: #f1f1f1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  &::selection {
    background: var(--primary);
    color: var(--foreground);
  }

  .gradient-text {
    background: linear-gradient(
      to right,
      var(--foreground) 0%,
      var(--primary) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2;
    font-weight: 700;
    max-width: fit-content;
  }

  h2 {
    font-size: 2rem;
    line-height: 2;
    font-weight: 700;

    margin: 0 0 4rem 0;
  }

  p {
    line-height: 2;
    margin: 2rem 0;
  }

  header {
    margin: 0 var(--half-goldenratio-b);
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  section {
    margin: var(--quarter-goldenratio-b) var(--half-goldenratio-b);
  }

  a {
    &:hover {
      color: var(--primary);
    }
  }
}
