<section class="about" id="About">
  <h2>About Me</h2>
  <p>
    Hello there! My name is Chris, I'm a web developer from Karlsruhe, Germany.
  </p>
  <p>
    My love for web development sparked in 2019, when I started an internship.
    Since then, I have been a working student in that field. Additionally, I
    started freelancing as a web developer in 2021.
  </p>
  <p>
    I'm enthusiastic about working with React, Vue, and Astro. I love working in
    teams (especially agile ones), and also like doing some UI/UX design here
    and there.
  </p>
  <p>
    In my free time, you will see me hiking, playing (table) tennis,
    photographing distant galaxies, or playing the piano.
  </p>
</section>

<style>
  .about {
    display: flex;
    flex-direction: column;
    max-width: var(--width-content);
  }
</style>
