.nav {
  position: fixed;
  top: 3rem;
  left: 3rem;
  width: fit-content;
  z-index: 10;

  transition: background 1s ease-out;

  ul {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    font-weight: 700;
    font-size: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;

    &.row {
      flex-direction: row;
    }

    &.column {
      flex-direction: column;
      width: fit-content;
    }

    li {
      will-change: transform;
      contain: layout;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 100vw;
    top: 0;
    left: 0;
    padding: 2rem;

    ul {
      gap: 1rem;
      justify-content: space-between;
    }

    &:has(ul.column) {
      background: #050f0a50;
      backdrop-filter: blur(10px);

      ul.column {
        flex-direction: row;
        width: 100%;
      }
    }
  }
}
